.places {
    display: grid;
    gap: 50px;
}
@media screen and (min-width: 600px) {
    .places {
        margin: 88px 24px 90px;
        gap: 73px;
    }
}
@media screen and (min-width: 900px) {
    .places {
        margin: 92px 48px;
        gap: 80px;
    }
}
@media screen and (min-width: 1280px) {
    .places {
        margin: 92px 148px;
        gap: 80px;
    }
}