.place__website__link {
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #fff;
    transition: opacity .1s linear;
}
.place__website__link:hover {
    opacity: .6;
  }