.header {
    display: flex;
    justify-content: space-between;
    min-width: 288px;
    margin: 0 16px;
}
@media screen and (min-width: 700px) {
    .header {
        margin: 0 24px;
    }
}
@media screen and (min-width: 1000px) {
    .header {
        margin: 0 48px;
    }
}