.footer {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    display: flex;
    margin-left: 16px;
    flex-direction: column;
    gap: 48px;
}
@media screen and (min-width: 700px) {
    .footer {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 24px;
    }
}
@media screen and (min-width: 1000px) {
    .footer {
    margin: 0 48px;
    }
}